*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  body{
    background-color: palevioletred;
  }
  
  .kotak{
    display: flex;
    justify-content: space-between;
    margin-top: 300px;
    margin-left: 500px;
    margin-right: 500px;
  }
  
.lg1{
    border-radius: 50%;
    color: magenta;
    width: 50px;
    height: 50px;
    transition: 0.5s;
    background-color: white;
    padding: 15px;
  }
  
  .lg1:hover{
    color: white;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 50px;
    background-color: magenta;
  }

  .lg2{
    border-radius: 50%;
    color: #00ff00;
    width: 50px;
    height: 50px;
    transition: 0.5s;
    background-color: white;
    padding: 15px;
  }
  
  .lg2:hover{
    color: white;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 50px;
    background-color: #00ff00;
  }